*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .body{
    height: 100vh;
    width: 100vw;
} */
.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(85, 84, 84);
    padding: 2rem;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 8fr 1fr;
}
.outer{
    background-color: rgb(243, 142, 192);
    border-radius: 2px;
    padding: 1rem;
    color: white;
    align-items: center;
    border: 1px solid pink;
    text-align: center;
}
.header , .footer{
    grid-column-start: 1;
    grid-column-end: 3;
}
.sidetab{
    height: 5rem;
}
#a1{
    grid-area: a1;
}
#a2{
    grid-area: a2;
}
#a3{
    grid-area: a3;
}
#a4{
    grid-area: a4;
}
#a5{
    grid-area: a5;
}
#a6{
    grid-area: a6;
}
#a7{
    grid-area: a7;
}
#a8{
    grid-area: a8;
}
#a9{
    grid-area: a9;
}
#a10{
    grid-area: a10;
}
.item{
    padding: 1rem;
    height: 100%;
    background-color: white;
    border: solid 1px rgb(243, 142, 192);
    color: black;
    border-radius: 3px;
}
.main_content{
    padding-top: 2rem;
    display: grid;
    gap: 0.3rem;
    grid-template-areas: 
    "a1 a1 a2 a3"
    "a1 a1 a2 a3"
    "a4 a8 a2 a7"
    "a4 a8 a2 a7"
    "a5 a5 a9 a7"
    "a5 a5 a9 a10"
    "a6 a6 a6 a10"
    "a6 a6 a6 a10"
    ;
}